@include respond-to(desktop) {
    .link-box{
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 39px;
        margin-bottom: 64px;
    }
.link-box__catalog{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.link-box__catalog:hover{
    color: rgb(136, 136, 136);
    text-decoration: none;
        }
}
@include respond-to(tablet) {
    .link-box{
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 39px;
    }
    .link-box__catalog{
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }
    .link-box__catalog:hover{
        color: rgb(136, 136, 136);
        text-decoration: none;
            }
}
@include respond-to(mobile) {
    .link-box{
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 47px;
    }
    .link-box--catalog{
        margin-top: 40px;
    }
.link-box__catalog{ 
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}
.link-box__catalog:hover{
    color: rgb(136, 136, 136);
    text-decoration: none;
        }
}